@import './font.css';

:root {
    --bg: #0b0b0f;
    --panel: #15151b;
    --line: #242430;
    --text: #e6e6eb;
    --muted: #9aa0aa;
    --brand: #1db954;
    --panel-gap: 8px;

    --encore-text-size-smaller: 0.875rem;
    --encore-text-size-base: 1rem;

    --text-medium: 1.5rem;
    --bg-surface: rgb(31, 31, 31);
}

/* 테스팅용 보더 */
* {
    /* border: 1px solid var(--line); */
    font-family: SpotifyMix-Light;
}

body {
    background: var(--bg);
    color: var(--text);
    padding: var(--panel-gap);
    /* 페이지 전체 스크롤 막기 */
    overflow-x: hidden;
    overflow-y: hidden;
    /* height: '100vh'; */
}

/* 전체 레이아웃: CSS Grid */
.app-shell {
    display: grid;
    grid-template-columns: 420px 1fr 420px;
    /* 좌측 / 메인 / 우측 */
    grid-template-rows: 48px 1fr 72px;
    /* 상단 / 내용 / 하단 */
    grid-template-areas:
        "global-nav global-nav global-nav"
        "left-sidebar main-view right-sidebar"
        "now-playing-bar now-playing-bar now-playing-bar";
    height: 100dvh;
    gap: var(--panel-gap);
}

/* 영역별 스타일 */
.global-nav {
    grid-area: global-nav;
}

.left-sidebar {
    grid-area: left-sidebar;
}

.main-view {
    grid-area: main-view;
}

.right-sidebar {
    grid-area: right-sidebar;
}

.now-playing-bar {
    grid-area: now-playing-bar;
    /* padding: var(--panel-gap); */
}

.text-medium {
    font-size: var(--text-medium);
    font-family: SpotifyMix-Medium;
}

/* 레이아웃 회색배경 */
.left-sidebar,
.main-view,
.right-sidebar {
    background-color: #121212;
}

/* 레이아웃 박스 더 밝은 회색배경 */
.right-sidebar__container {
    background-color: var(--bg-surface);
    border-radius: 12px;
}

/* 전역 텍스트 레귤러 폰트용 */
.global__text-regular {
    font-family: SpotifyMix-Regular;
}

/* 전역 텍스트 설명용 */
.global__encore-text-body-small {
    color: #b3b3b3;
}

.global__encore-text-body-small,
.global__encore-text-body-small-bold {
    /* font-family 도 지정 */
    font-size: var(--encore-text-size-smaller);
}

.global__encore-text-body-medium,
.global__encore-text-body-medium-bold {
    /* font-family 도 지정 */
    font-size: var(--encore-text-size-base);
}

.card-rail__description {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	overflow: hidden;
}